:host {
  --admir-carousel-width: 300px; /* Default width */
  --admir-carousel-height: 400px; /* Default height */
}

.carousel {
  position: relative;
  width: var(--admir-carousel-width); /* Use custom property for width */
  height: var(--admir-carousel-height); /* Use custom property for height */
  perspective: 1000px;
  overflow: hidden; /* Hide overflow to ensure items stay within the carousel */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--admir-carousel-width) / -2)); /* Adjusted translateZ value */
  transition: transform 1s;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  visibility: visible;
  backface-visibility: hidden; /* Hide backface */
}

.carousel-item:nth-child(1) {
  transform: rotateY(0deg) translateZ(calc(var(--admir-carousel-width) / 2)); /* Adjusted translateZ value */
}

.carousel-item:nth-child(2) {
  transform: rotateY(90deg) translateZ(calc(var(--admir-carousel-width) / 2)); /* Adjusted translateZ value */
}

.carousel-item:nth-child(3) {
  transform: rotateY(180deg) translateZ(calc(var(--admir-carousel-width) / 2)); /* Adjusted translateZ value */
}

.carousel-item:nth-child(4) {
  transform: rotateY(270deg) translateZ(calc(var(--admir-carousel-width) / 2)); /* Adjusted translateZ value */
}

/* Add more items as needed */